* {
  --primary-blue-color: #146eb4;
  --primary-grey-color: #f2f2f2;
  --primary-white-color: #fff;
  --primary-dark-color: #1a181e;
  --secondary-dark-color: #4d4d4d;
  --secondary-grey-color: #fafafa;
  --background-grey-color: #e5e5e5;
}
