.footer_section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-block: 1.5rem;

  row-gap: 1rem;
}
.footer_links {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
.footer_links ul li {
  list-style: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.job_span {
  background-color: var(--primary-white-color);
  color: var(--primary-dark-color);
  border-radius: 47%;
  padding: 0px 6px;
}
.footer_terms {
  grid-column: span 3;
  display: flex;
  border-top: 1px solid var(--background-grey-color);
  gap: 2%;
  justify-content: space-between;
  padding-top: 0.5rem;
}
.copyright_terms {
  display: flex;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  text-align: center;
  align-items: center;
  gap: 6px;
}

@media screen and (max-width: 600px) {
  .footer_section {
    display: flex;
    flex-direction: column;
  }
  .footer_links {
    flex-wrap: wrap;
    border: 5px solid;
  }
  .footer_links ul li {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer_terms {
    grid-column: span 1;
  }
}
.slogon_upper {
  display: flex;
  width: 100%;
  justify-content: space-between;

  color: #1a181e;
}
.slogon_upper h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}
.slogon_div {
  padding-block: 2.5rem;
}
.btn2 {
  border: 2px solid var(--primary-blue-color);
  background-color: var(--primary-white-color);
  color: var(--primary-blue-color);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  font-family: "Galano Grotesque";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.btn2:hover {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
}
