@import url("./Common/styles/fonts/font.css");
@import url("./Common/styles/variables.css");
* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto 0;
  font-family: "Galano Grotesque", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feature_container,
.product_container,
.footer_container,
.main_container,
.navbar_container {
  padding-inline: 12%;
}

.App {
  background-color: var(--primary-grey-color);
  display: flex;
  flex-direction: column;
}
.navbar_container {
  background-color: var(--primary-blue-color);
  height: 20.5rem;
}
.main_container {
  background-color: var(--secondary-grey-color);
  height: 82.25rem;
}
.product_container {
  background-color: var(--background-grey-color);
  padding-block: 5rem;
}
.feature_container {
  background-color: rgb(20, 110, 180, 0.05);
}
li {
  cursor: pointer;
}
.btn {
  border: none;
  padding: 0.6rem 0.8rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  font-family: "Galano Grotesque", sans-serif;
}
.btn:hover {
  transform: scale(1.01);
}

.footer_container {
  background-color: var(--primary-dark-color);
  color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .feature_container,
  .product_container,
  .footer_container,
  .main_container,
  .navbar_container {
    padding-inline: 6%;
  }
}
@media screen and (max-width: 1250px) {
  .feature_container,
  .product_container,
  .footer_container,
  .main_container,
  .navbar_container {
    padding-inline: 8%;
  }
  .main_container {
    height: 60rem;
  }
}
